@import "reset.scss";
@import "mixins.scss";
@import "variables.scss";

@import "header.scss";
@import "menu.scss";
@import "main.scss";
@import "footer.scss";

.btn {
  @include user-select;
  @include antialias;
  padding: 1em;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  background-color: $light-blue;
  border: none;
  border-radius: 4px;
  margin: 0 1em;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: darken($light-blue, 10%);
  }

  &.btn-secondary {
    border: 1px solid $light-blue;
    background-color: white;
    color: $light-blue;

    &:hover {
      background-color: rgba($color: white, $alpha: 0.6);
    }
  }
}