footer {
  background-color: $light-blue;
  color: white;
  font-family: $font-family;

  .main-footer-wrapper {
    max-width: $max-width;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 2em;
    line-height: 2;

    @media screen and (max-width: 850px) {
      flex-direction: column;
     
      article {
        text-align: center;
        margin-bottom: 1rem;
      }
    }
  }

  h2 {
    text-transform: uppercase;
    font-weight: 700;
  }

  a {
    color: white;
    text-decoration: none;
    font-weight: 300;
    font-size: .9em;

    &:hover {
      color: $green;
    }
  }
}

.secondary-footer {
  background-color: $dark-blue;
  padding: 1em;

  .secondary-footer-wrapper {
    max-width: $max-width;
    margin: 0 auto;
    color: white;
    font-family: $font-family;
  
    mark {
      font-weight: 700;
      background-color: transparent;
      color: white;
    }
  }
}