header {
  width: 100%;
  border-bottom: 1px solid #e2e2e2;

  .content-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
    padding: .5em;
    box-sizing: border-box;
    font-family: $font-family;

    @media screen and (max-width: 600px) {
      flex-direction: column;
      align-items: center;

      .actions-wrapper {
        margin-top: 2em;
      }
    }

    img {
      height: 40px;
    }

    .actions-wrapper {
      display: flex;
      align-items: center;

      a {
        color: $dark-blue;
        font-weight: 700;
        cursor: pointer;

        &:hover {
          color: $green;
        }
      }

      .basket-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include antialias;

        i {
          font-size: 1.5em;
          padding-bottom: 0.2em;
        }

        span {
          font-size: 0.9em;
          font-weight: 400;
        }
      }
    }
  }
}
