main {
  background-color: $background-blue;
  text-align: center;

  .slides-wrapper {
    position: relative;
    width: 100vw;
    height: 65vh;
    overflow: hidden;
    display: flex;
    align-items: end;
    justify-content: center;

    .slides-btn {
      position: absolute;
      color: $dark-blue;
      background: rgba($color: white, $alpha: .65);
      top: 50%;
      transform: translateY(-50%);
      border: none;
      font-size: 2em;
      cursor: pointer;

      &.left {
        left: 0;
      }
      &.right {
        right: 0;
      }
    }

    .slides-text-container {
      position: absolute;
      left: 4em;
      bottom: 2em;
      width: 500px;
      box-sizing: border-box;
      padding: 1.5em;
      line-height: 1.5;
      background-color: $dark-blue;
      border: 2px solid white;
      color: white;
      font-family: $font-family;
      font-size: 1.2rem;

      @media screen and (max-width: 630px) {
        left: 50%;
        bottom: 1em;
        transform: translateX(-50%);
        width: 80%;
      }

      h2 {
        text-transform: uppercase;
        font-weight: 700;
      }

      p {
        font-weight: 500;
      }
    }
  }

  .bullets-wrapper {
    display: flex;
    max-width: $max-width;
    margin: 0 auto;
    padding: 4em;

    :nth-child(even) {
      margin: 0 1em;
    }

    @media screen and (max-width: 800px) {
      flex-direction: column;
      align-items: center;
      padding: 4em 1em;

      article {
        max-width: 75%;
        align-items: center;

        &:nth-child(even) {
          margin: 2em 0;
        }
      }
    }

    @media screen and (max-width: 500px) {
      article {
        max-width: 100%;
      }
    }

    article {
      display: flex;
      flex-direction: column;
      text-align: center;
      font-family: $font-family;

      .fas {
        color: $light-blue;
        font-size: 3em;
        margin-bottom: 1.5rem;
      }

      h3 {
        font-size: 1.1em;
        font-weight: 500;
        margin-bottom: 0.5em;
      }
    }
  }

  .products-container {
    margin-bottom: 2rem;

    h1 {
      font-family: $font-family;
      font-size: 1.5em;
      color: $dark-blue;
      text-transform: uppercase;
      text-align: center;
      font-weight: 300;
      margin-bottom: 1rem;
    }

    p {
      font-family: $font-family;
      text-align: center;
      margin-bottom: 1rem;
    }

    .products-cards-wrapper {
      display: flex;
      justify-content: space-between;
      max-width: $max-width;
      margin: 0 auto;
      font-family: $font-family;

      @media screen and (max-width: 800px) {
        flex-wrap: wrap;
        justify-content: center;

        .product {
          flex: 1 0 50%;
          display: flex;
        }
        :nth-child(odd) {
          justify-content: flex-end;
        }
      }

      a {
        text-decoration: none;
      }

      .product {
        width: 200px;
        line-height: 1.5;
        text-align: left;

        .product-img {
          img {
            width: 200px;
            transition: opacity 0.15s ease-in;
          }
        }

        .product-name {
          color: $light-blue;
          font-weight: 500;
          text-decoration: none;
          font-size: 1rem;
        }

        .product-price {
          text-decoration: none;
          color: black;
        }

        &:hover {
          .product-img {
            img {
              opacity: 0.8;
            }
          }
        }
      }
    }
  }

  .newsletter-form {
    background-color: $green;
    padding: 3em;
    margin-top: 3em;

    .newsletter-form-wrapper {
      max-width: $max-width;
      margin: 0 auto;
    }

    p {
      color: white;
      font-family: $font-family;
      font-size: 1.2em;
      font-weight: 300;
      line-height: 1.5;
      max-width: 500px;
      margin: 0 auto;
    }

    form {
      display: flex;
      justify-content: center;
      padding-top: 2em;

      input {
        padding: 1em;
        width: 250px;
        border-radius: 4px 0 0 4px;
        border: 1px solid $light-blue;
        font-size: 1rem;
      }

      .btn {
        margin: 0;
        border-radius: 0 4px 4px 0;
      }
    }
  }
}