.btn-bars {
  display: none;
}

nav {
  @include user-select;
  @include antialias;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  padding: 0.4em;
  box-sizing: border-box;

  .dropdown {
    position: relative;
    display: inline-block;

    &:hover {
      .dropdown-content {
        display: block;
      }
    }

    &:last-child {
      .dropdown-content {
        right: 0;
      }
    }

    button {
      font-family: $font-family;
      color: $link-grey;
      border: none;
      background: none;
      font-size: 0.9em;
      padding: 1em 0;
      cursor: pointer;

      &:hover {
        color: $light-blue;
      }

      &:focus {
        outline: none;
      }
    }

    .dropdown-content {
      position: absolute;
      display: none;
      z-index: 2;
      top: 2.5em;
      min-width: 160px;
      background: white;

      &.dropdown-columns {
        column-count: 3;
      }

      a {
        display: block;
        padding: 1em;
        width: 100%;
        min-width: 160px;
        text-align: left;
        box-sizing: border-box;
        font-family: $font-family;
        color: $link-grey;
        text-decoration: none;

        &:hover {
          background: $light-blue;
          color: white;
        }
      }
    }
  }
}

@media screen and (max-width: $max-width) {
  .btn-bars {
    display: block;
    background-color: transparent;
    border: transparent;
    font-size: 2em;
    margin: 0.5em;
    cursor: pointer;

    &:hover {
      color: $green;
    }

    &:focus {
      outline: none;
    }
  }

  nav {
    display: none;
    flex-direction: column;
    align-items: center;

    .dropdown:hover {
      .dropdown-content {
        display: none;
      }
    }
  }
}
