@mixin user-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @mixin antialias {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }