/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

header {
  width: 100%;
  border-bottom: 1px solid #e2e2e2; }
  header .content-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: .5em;
    box-sizing: border-box;
    font-family: "Roboto", "Courier New", Courier, monospace; }
    @media screen and (max-width: 600px) {
      header .content-wrapper {
        flex-direction: column;
        align-items: center; }
        header .content-wrapper .actions-wrapper {
          margin-top: 2em; } }
    header .content-wrapper img {
      height: 40px; }
    header .content-wrapper .actions-wrapper {
      display: flex;
      align-items: center; }
      header .content-wrapper .actions-wrapper a {
        color: #19226d;
        font-weight: 700;
        cursor: pointer; }
        header .content-wrapper .actions-wrapper a:hover {
          color: #1abc9c; }
      header .content-wrapper .actions-wrapper .basket-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
        header .content-wrapper .actions-wrapper .basket-link i {
          font-size: 1.5em;
          padding-bottom: 0.2em; }
        header .content-wrapper .actions-wrapper .basket-link span {
          font-size: 0.9em;
          font-weight: 400; }

.btn-bars {
  display: none; }

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0.4em;
  box-sizing: border-box; }
  nav .dropdown {
    position: relative;
    display: inline-block; }
    nav .dropdown:hover .dropdown-content {
      display: block; }
    nav .dropdown:last-child .dropdown-content {
      right: 0; }
    nav .dropdown button {
      font-family: "Roboto", "Courier New", Courier, monospace;
      color: #666;
      border: none;
      background: none;
      font-size: 0.9em;
      padding: 1em 0;
      cursor: pointer; }
      nav .dropdown button:hover {
        color: #3672b3; }
      nav .dropdown button:focus {
        outline: none; }
    nav .dropdown .dropdown-content {
      position: absolute;
      display: none;
      z-index: 2;
      top: 2.5em;
      min-width: 160px;
      background: white; }
      nav .dropdown .dropdown-content.dropdown-columns {
        column-count: 3; }
      nav .dropdown .dropdown-content a {
        display: block;
        padding: 1em;
        width: 100%;
        min-width: 160px;
        text-align: left;
        box-sizing: border-box;
        font-family: "Roboto", "Courier New", Courier, monospace;
        color: #666;
        text-decoration: none; }
        nav .dropdown .dropdown-content a:hover {
          background: #3672b3;
          color: white; }

@media screen and (max-width: 960px) {
  .btn-bars {
    display: block;
    background-color: transparent;
    border: transparent;
    font-size: 2em;
    margin: 0.5em;
    cursor: pointer; }
    .btn-bars:hover {
      color: #1abc9c; }
    .btn-bars:focus {
      outline: none; }
  nav {
    display: none;
    flex-direction: column;
    align-items: center; }
    nav .dropdown:hover .dropdown-content {
      display: none; } }

main {
  background-color: #d9f2fc;
  text-align: center; }
  main .slides-wrapper {
    position: relative;
    width: 100vw;
    height: 65vh;
    overflow: hidden;
    display: flex;
    align-items: end;
    justify-content: center; }
    main .slides-wrapper .slides-btn {
      position: absolute;
      color: #19226d;
      background: rgba(255, 255, 255, 0.65);
      top: 50%;
      transform: translateY(-50%);
      border: none;
      font-size: 2em;
      cursor: pointer; }
      main .slides-wrapper .slides-btn.left {
        left: 0; }
      main .slides-wrapper .slides-btn.right {
        right: 0; }
    main .slides-wrapper .slides-text-container {
      position: absolute;
      left: 4em;
      bottom: 2em;
      width: 500px;
      box-sizing: border-box;
      padding: 1.5em;
      line-height: 1.5;
      background-color: #19226d;
      border: 2px solid white;
      color: white;
      font-family: "Roboto", "Courier New", Courier, monospace;
      font-size: 1.2rem; }
      @media screen and (max-width: 630px) {
        main .slides-wrapper .slides-text-container {
          left: 50%;
          bottom: 1em;
          transform: translateX(-50%);
          width: 80%; } }
      main .slides-wrapper .slides-text-container h2 {
        text-transform: uppercase;
        font-weight: 700; }
      main .slides-wrapper .slides-text-container p {
        font-weight: 500; }
  main .bullets-wrapper {
    display: flex;
    max-width: 960px;
    margin: 0 auto;
    padding: 4em; }
    main .bullets-wrapper :nth-child(even) {
      margin: 0 1em; }
    @media screen and (max-width: 800px) {
      main .bullets-wrapper {
        flex-direction: column;
        align-items: center;
        padding: 4em 1em; }
        main .bullets-wrapper article {
          max-width: 75%;
          align-items: center; }
          main .bullets-wrapper article:nth-child(even) {
            margin: 2em 0; } }
    @media screen and (max-width: 500px) {
      main .bullets-wrapper article {
        max-width: 100%; } }
    main .bullets-wrapper article {
      display: flex;
      flex-direction: column;
      text-align: center;
      font-family: "Roboto", "Courier New", Courier, monospace; }
      main .bullets-wrapper article .fas {
        color: #3672b3;
        font-size: 3em;
        margin-bottom: 1.5rem; }
      main .bullets-wrapper article h3 {
        font-size: 1.1em;
        font-weight: 500;
        margin-bottom: 0.5em; }
  main .products-container {
    margin-bottom: 2rem; }
    main .products-container h1 {
      font-family: "Roboto", "Courier New", Courier, monospace;
      font-size: 1.5em;
      color: #19226d;
      text-transform: uppercase;
      text-align: center;
      font-weight: 300;
      margin-bottom: 1rem; }
    main .products-container p {
      font-family: "Roboto", "Courier New", Courier, monospace;
      text-align: center;
      margin-bottom: 1rem; }
    main .products-container .products-cards-wrapper {
      display: flex;
      justify-content: space-between;
      max-width: 960px;
      margin: 0 auto;
      font-family: "Roboto", "Courier New", Courier, monospace; }
      @media screen and (max-width: 800px) {
        main .products-container .products-cards-wrapper {
          flex-wrap: wrap;
          justify-content: center; }
          main .products-container .products-cards-wrapper .product {
            flex: 1 0 50%;
            display: flex; }
          main .products-container .products-cards-wrapper :nth-child(odd) {
            justify-content: flex-end; } }
      main .products-container .products-cards-wrapper a {
        text-decoration: none; }
      main .products-container .products-cards-wrapper .product {
        width: 200px;
        line-height: 1.5;
        text-align: left; }
        main .products-container .products-cards-wrapper .product .product-img img {
          width: 200px;
          transition: opacity 0.15s ease-in; }
        main .products-container .products-cards-wrapper .product .product-name {
          color: #3672b3;
          font-weight: 500;
          text-decoration: none;
          font-size: 1rem; }
        main .products-container .products-cards-wrapper .product .product-price {
          text-decoration: none;
          color: black; }
        main .products-container .products-cards-wrapper .product:hover .product-img img {
          opacity: 0.8; }
  main .newsletter-form {
    background-color: #1abc9c;
    padding: 3em;
    margin-top: 3em; }
    main .newsletter-form .newsletter-form-wrapper {
      max-width: 960px;
      margin: 0 auto; }
    main .newsletter-form p {
      color: white;
      font-family: "Roboto", "Courier New", Courier, monospace;
      font-size: 1.2em;
      font-weight: 300;
      line-height: 1.5;
      max-width: 500px;
      margin: 0 auto; }
    main .newsletter-form form {
      display: flex;
      justify-content: center;
      padding-top: 2em; }
      main .newsletter-form form input {
        padding: 1em;
        width: 250px;
        border-radius: 4px 0 0 4px;
        border: 1px solid #3672b3;
        font-size: 1rem; }
      main .newsletter-form form .btn {
        margin: 0;
        border-radius: 0 4px 4px 0; }

footer {
  background-color: #3672b3;
  color: white;
  font-family: "Roboto", "Courier New", Courier, monospace; }
  footer .main-footer-wrapper {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 2em;
    line-height: 2; }
    @media screen and (max-width: 850px) {
      footer .main-footer-wrapper {
        flex-direction: column; }
        footer .main-footer-wrapper article {
          text-align: center;
          margin-bottom: 1rem; } }
  footer h2 {
    text-transform: uppercase;
    font-weight: 700; }
  footer a {
    color: white;
    text-decoration: none;
    font-weight: 300;
    font-size: .9em; }
    footer a:hover {
      color: #1abc9c; }

.secondary-footer {
  background-color: #19226d;
  padding: 1em; }
  .secondary-footer .secondary-footer-wrapper {
    max-width: 960px;
    margin: 0 auto;
    color: white;
    font-family: "Roboto", "Courier New", Courier, monospace; }
    .secondary-footer .secondary-footer-wrapper mark {
      font-weight: 700;
      background-color: transparent;
      color: white; }

.btn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 1em;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  background-color: #3672b3;
  border: none;
  border-radius: 4px;
  margin: 0 1em;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out; }
  .btn:hover {
    background-color: #2a598c; }
  .btn.btn-secondary {
    border: 1px solid #3672b3;
    background-color: white;
    color: #3672b3; }
    .btn.btn-secondary:hover {
      background-color: rgba(255, 255, 255, 0.6); }
